{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}

    <h2>Active Listings</h2>
    <ul class="list-group">
        {% for listing in all_listings %}
        <li class="list-group-item">
            <div style="display: flex;">
                {% if listing.image_url != "no url" %}
                    <div style="margin: 10px; margin-right: 30px;">
                            <img src="{{ listing.image_url}}" alt="Image of {{listing.title}}" width="200" height="250">
                        <!-- <h1>has image</h1> -->
                    </div>
                {% endif %}
                <div style="margin:10px">
                    <h3>{{listing.title}}</h3>
                    <h4 style="font-weight: 400;">${{listing.price.bid}}</h4>
                    <h6>{{listing.description}}</h6>
                    <h6>Category: {{listing.category}}</h6> 
                    <a class="btn btn-outline-primary" href="{% url 'listing' listing_title=listing.title %}" role="button">View Full Listing</a>
           
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    
{% endblock %}